<div class="container mt-5">
  <h1>Update Employee</h1>
  <form action="/emp/final-update/{{user._id}}" class="mt-3" method="post">
    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Enter your Name</label>
      <input
        class="form-control"
        id="disabledInput"
        type="text"
        placeholder="Enter Your name here..."
        required
        name = "name"
        value="{{user.name}}"
      />
    </fieldset>

    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Enter Email</label>
      <input
        class="form-control"
        id="disabledInput"
        type="email"
        placeholder="Enter Email here..."
         required
        name ="email"
        value="{{user.email}}"
     
      />
    </fieldset>

    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Phone Number</label>
      <input
        class="form-control"
        id="disabledInput"
        type="number"
        placeholder="Enter Phone here..."
         required
         name ="phone"
         value="{{user.phone}}"
      />
    </fieldset>

    <fieldset class="mt-3">
      <label class="form-label" for="disabledInput">Enter Your City</label>
      <input
        class="form-control"
        id="disabledInput"
        type="text"
        placeholder="Enter city here..."
         required
         name ="city"
         maxlength="20"
        value="{{user.city}}"
      />
    </fieldset>

 <button type="submit" class="btn btn-warning mt-3 rounded">Update</button>
    <a href="/emp" class="btn btn-danger mt-3 rounded">Home</a>

  </form>
</div>

