<div class="container mt-5" >
<table class="table table-hover container">
  <thead>
    <tr>
      <th scope="col" class="table-dark">Name</th>
      <th scope="col" class="table-dark">Email</th>
      <th scope="col" class="table-dark">Phone</th>
      <th scope="col" class="table-dark">City</th>
      <th scope="col" class="table-dark">Update</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
      <tr class="table-active">
        <td scope="row" class="table-info">{{name}}</td>
        <td class="table-danger">{{email}}</td>
        <td>{{phone}}</td>
        <td class="table-success">{{city}}</td>
        <td class="table-danger"><a
            href="/emp/info/{{this.id}}"
            class="btn btn-warning rounded"
            
          >Update</a></td>
      </tr>
    {{/each}}

  </tbody>

</table>
<center> <a href="/emp" class="btn btn-danger mt-3 rounded">Home</a></center>
</div>